<header id="header">
    <div class="inner">
        <a href="{{ .Site.BaseURL }}" class="logo">Tchelinux</a>
        <nav id="nav">
            <a href="index.html">Sobre o Tchelinux</a>
            <a href="generic.html">Como participar?</a>
            <a href="elements.html">Como ajudar?</a>
            <a href="#">Calendário de Eventos</a>
            <a href="#">Planet</a>
            <a href="#">Wiki</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>