<!DOCTYPE html>
<html lang="pt-br">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tchelinux">
    <meta name="author" content="Tchelinux">

    <title>Tchelinux | Grupo de Usuários de Software Livre do Rio Grande do Sul</title>

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    {{ partial "global/estilos.html" . }}

</head>

<body>

    <!-- Navigation -->
   {{partial "global/menu.html" . }}

   <!-- {{ partial "paginas/home/carousel.html" . }} -->


    <!-- Page Content -->
    <main class="mt-5">
    <div class="container">
        <!-- Heading Row -->
        <div class="row">
            <div class="col-4 mt-4">
                <img class="img-fluid img-rounded" src="images/logo.png" alt="">
            </div>
            <!-- /.col-md-8 -->
            <div class="col-8 mt-4">
                <h1>Tchelinux, Software Livre em Ação!</h1>
                <p>
					<br />
					A paixão pelo <b>Software Livre</b> assim como o desejo de <b>compartilhar conhecimentos</b> fez com que um grupo de usuários se reunisse e trabalhasse junto na organização de eventos para a divulgação de ferramentas e da filosofia <i>open source</i> em <b>instituições educacionais do Rio Grande do Sul</b>. Aproveitando a ideia de voluntariado, o grupo decidiu que os <b>eventos seriam sempre gratuitos</b>, porém os <b>participantes são encorajados a doar 2kg de alimentos não-perecíveis</b>, que são <b>encaminhados a instituições de caridade</b> da cidade onde ocorre o evento.<br />
					<br />
					Desde <b>Outubro de 2006</b> o <b>Tchelinux</b> realizou <b>80 eventos</b> em <b>20 cidades</b> com o auxílio de <b>milhares de voluntários</b>, que ajudaram na organização e apresentando <b>1203 palestras</b> foram assistidas por <b>9656 pessoas</b> que doaram <b>15761 kg de alimentos</b> para <b>36 instituições de caridade</b>.
					<br />
					<br />
					Há <b>muito trabalho</b> a ser feito e <b>todos são bem-vindos</b> a participar do <b>Tchelinux</b> e ajudar a divulgar o <b>Software Livre</b> e levar o conhecimento à todos cantos do <b>Rio Grande do Sul!</b>
					<br />
					<br />	
					Contamos com você!
					<br />
				<br />
					
				<br />
		</p>
                <!-- <a class="btn btn-primary btn-lg" href="#">Saiba mais...</a> -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Well -->
        <div class="row" style="display:none">
            <div class="col-lg-12">
                <div class="well text-center">
		
                    <b>Atenção:</b> Dia <b>9 de Dezembro</b> teremos o <a href="../poa.tchelinux.org/index.html"><b>Tchelinux 2017 Porto Alegre</b></a> na <b>Faculade Senac Porto Alegre</b>, participe! <b><a href="../docs.google.com/forms/d/e/1FAIpQLSdqLOM0RfKg25xhwD3DSLqyveTZhmPNzr4OfTNFoYaNyK3Zjg/viewform0e12.html">Faça aqui a sua inscrição!</a></b>
                </div> 
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-4" style="display:none">
                <h2>Eventos!</h2>
                <p>O calendário de eventos do Tchelinux 2017 está sendo organizado no momento e os locais e datas serão divulgados nos próximos meses.</p>
                <a class="btn btn-default" href="../wiki.tchelinux.org/index.html#!eventos/calendario.md">Saiba mais...</a> 
            </div>
            <!-- /.col-md-4 -->
            <div class="col-6">
                <h2>Participe!</h2>
                <p>O Tchelinux possui vários canais de comunicação (Lista de discussão, Canal de IRC, Redes Socias etc), e todos são bem-vindos para participar.</p>
 		 <a class="btn btn-default" href="../wiki.tchelinux.org/index.html#!como_participar.md">Saiba mais...</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-6">
                <h2>Divulgue!</h2>
                <p>Gostou da ideia? Divulgue o Tchelinux na sua Escola ou Comunidade e ajude a levar os eventos do grupo até a sua cidade!</p>
                <a class="btn btn-default" href="../wiki.tchelinux.org/index.html#!como_ajudar.md">Saiba mais...</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>


    <hr class="featurette-divider">

    <!-- Footer -->
{{ partial "global/footer.html" . }}

</main>
{{ partial "global/scripts.html" . }}

</body>
 
</html>
